html {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: black;
  color: rgb(75, 245, 66);
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formWrapper {
  overflow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 5px;
  border-style: solid;
  border-color: red;
  margin: 0px 200px;
  filter: drop-shadow(30px 10px 30px green);
}

.miniForm {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 100px 50px;
  filter: drop-shadow(30px 10px 30px green);
}

table {
  background: rgb(23, 23, 23);
  font: Roboto Mono;
  border-collapse: collapse;
  border: .5px solid green; 
  border-radius: 30px;
  filter: drop-shadow(30px 10px 4px green);
  align-items: center;
  justify-content: center;
  margin: 20px;
}

caption {
  font-weight: 1000;
  font-size: 40px;
  color: red;
  opacity: 60%;
}

thead {
  background: rgba(19, 0, 0, .2);
}

th {
  padding: 12px;
  background: rgb(23, 23, 23);
}

td {
  padding: 8px;
  background: rgb(23, 23, 23);
}

/* Radio Input  */
#radio {
    margin: 20px 0px; 
    border-radius: 10px;
    padding: 12px;
    background: rgba(110, 201, 156, 0.3);
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#user-submit {
    margin: 20px 0px; 
    border-radius: 10px;
    padding: 12px;
    background: rgba(110, 201, 156, 0.3);
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
