<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>For Scritch Pigeon.com</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  </head>
  <body>
    <div>
      <!-- SECTION: Table -->
      <table dir="ltr" width="500" border="1" 
        summary="purpose/structure for speech output">
        <caption>
            Table ---> Feeds to Posts 
        </caption>
        <colgroup width="50%" />
        <colgroup id="colgroup" class="colgroup" align="center" valign="middle" title="title" span="2"/>
        <thead>
          <tr>
            <th scope="col">feed_id</th>
            <th scope="col">post_id</th>
            <th scope="col">user_id</th>
          </tr>
        </thead>
        <tbody>
          {% for id in fp_data %}
          <tr>
            <td>{{ id[0] }}</td>
            <td>{{ id[1] }}</td>
            <td>{{ id[2] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- SECTION: Form-->
    <div class="formWrapper">
    <!-- Radio Buttons select for CREATE, READ, UPDATE, Or DELETE (CRUD)-->
      <form class="miniForm" action="" method="POST">
        <h1>
        <h1>
            Run your insert statement 
        </h1>
        <h1>
            with this form!
        </h1>
        <p>
            Assignment: Many to Many Relationship
            <br>
               <dd>Select the many-many table<dd>
            <br>
                <dd> Insert new values into the many to many table. </dd>
        </p>
        <div id="radio">
            <input type="radio" id="" name="many-radio" value="select" checked>
            <label for="">Select</label><br>

            <input type="radio" id="" name="many-radio" value="insert">
            <label for="">Insert</label><br>
        </div
        <!-- User Input // Submission Form -->
        <div id="user-submit">
            <label for="id">feed_id</label><br>
            <input type="text" id="feed_id" name="feed_id"><br>

            <label for="fname">user_id</label><br>
            <input type="text" id="user_id" name="user_id"><br>

            <button type="submit" value="submit">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
