<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>For Scritch Pigeon.com</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  </head>
  <body>
    <div>
      <!-- SECTION: Table -->
      <table dir="ltr" width="500" border="1" 
        summary="purpose/structure for speech output">
        <caption>
            Table ---> Feeds to Posts 
        </caption>
        <colgroup width="50%" />
        <colgroup id="colgroup" class="colgroup" align="center" valign="middle" title="title" span="2"/>
        <thead>
          <tr>
            <th scope="col">feed_id</th>
            <th scope="col">post_id</th>
            <th scope="col">user_id</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- SECTION: Form-->
    <div class="formWrapper">
    <!-- Radio Buttons select for CREATE, READ, UPDATE, Or DELETE (CRUD)-->
      <form class="miniForm" action="" method="POST">
        <h3>
            Please select the action that you would like to take against the Users Table.
        </h3>
        <p>
            Assignment="CRUD FOR ONE TABLE"
        </p>
        <div id="radio">
            <input type="radio" id="" name="crud" value="create" checked>
            <label for="">Select</label><br>

            <input type="radio" id="" name="crud" value="read">
            <label for="">Insert</label><br>
        </div
        <!-- User Input // Submission Form -->
        <div id="user-submit">
            <label for="id">feed_id</label><br>
            <input type="text" id="feed_id" name="feed_id"><br>

            <label for="fname">user_id</label><br>
            <input type="text" id="user_id" name="user_id"><br>

            <button type="submit" value="submit">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
